<div class="container">
  <div class="row">
    <div class="col">
      <label>Input XML :</label>
    </div>
    <div class="col">
      <textarea 
        [(ngModel)]='xmlData' (ngModelChange)="convert()"
        style="field-sizing: content;width: 100%">
      </textarea>
    </div>
  </div>
  <div class="row">
    <div class="col">

      <button type="button" (click)="save()">Save</button>
      <button type="button" (click)="test()">Test</button>

    </div>
    <div class="col">
      <label >Result :</label>
    </div>

    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th style="text-align:left;padding-left: 20px" scope="col">Attr</th>
            <th style="text-align:left;padding-left: 20px" scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let att of attributes;let i=index">
            <td scope="row">{{i+1}}</td>
            <td style="text-align:left;padding-left: 20px">{{att.name}}</td>
            <td style="text-align:left;padding-left: 20px">{{att.value}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col">
      <textarea  style="height: 300px; width: 100%">{{target}}</textarea>
    </div>
  </div>
</div>


  