<div class="container">
  <div class="row">
    <div class="col">
      <label>Paste XML here :</label>
    </div>
    <div class="col" >
      <textarea style="height: 300px; width: 100%" [(ngModel)]='xmlData'>{{xmlData}}</textarea>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="button" (click)="convert()" >Read</button>
      <button type="button" (click)="save()" >Save</button>
      <button type="button" (click)="test()" >Test</button>

    </div>
    <div class="col">
      <label >Result :</label>
    </div>

    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Attr</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col">
      <textarea  style="height: 300px; width: 100%">{{target}}</textarea>
    </div>
  </div>
</div>


  